<!doctype html>
<html>
  <head>
    <title>Sungear</title>

    <link rel='stylesheet' href='../gui/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='../gui/css/bootstrap-theme.min.css'/>

    <script type='text/javscript' src='../gui/js/bootstrap.min.js'></script>
    <script type='text/javscript' src='../gui/js/npm.js'></script>
    <script type='text/javascript' src='../gui/js/d3.min.js'></script>

  </head>
  <body align="center">
    <h1>Sungear:</h1>

    <div id='control' width="568" height="262" align="center" style="color: white; background-color: blue;">
      <h2>Control Panel Goes Here!</h2>
    </div>

    <div id='gene_list' align="left" width="100" height="500" style="color: white; background-color: red;">
      <h2>Gene List Goes Here!</h2>
    </div>

    <canvas id='sungear_plot' width="568" height="262" align="center">
      Sorry! It appears your browser doesn't support the HTML canvas.
    </canvas>

    <div id='go_window' align="right" width="100" height="500" style="color: black; background-color: yellow;">
      <h2>Windows go here!</h2>
    </div>

    <script type='text/javascript' src='../app/sungear_init.js'></script>
  </body>
</html>
